*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#f4ffe7;
}
.content{
    width: 1080px;
    min-height: 100vh;
    background: white;
    margin: 85px aut0;
    border-radius: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 60px;
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 16px;
}
.header__nav-list{
    display: flex;
    list-style: none;
    column-gap: 32px;
}
.header__nav-list li{
    display: flex;
    align-items: center;
}
.sneakers-card{
    width: 210px;
    height: 260px;

    border: 1px solid black;
    position: relative;
    border-radius: 40px;
    padding: 20px 30px;
    box-shadow: 2px 2px 2px 2px;
}
.sneakers__card-img{
    width: 133px;
    height: 112px;

}
.sneakers__card-like{
    position: absolute;
    background: none;
    border: none;
}
.sneakers__actions-cart{
    background: none;
    border: none;
}
.sneakers__card-title{
    font-size: 14px;
    margin: 14px 0px;
}

.sneakers-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: ;
}
